.container {
  display: flex;
  flex-direction: column;
}

.colourWheel {
  cursor: pointer;
  width: 150px !important;
  height: 150px !important;
}

.previewText {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em !important;
}

.RGBInput {
}

.HEXInput {

}

.RGBInput::-webkit-inner-spin-button, 
.RGBInput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}