/* Logo */
.navBarContainer {
  display: flex !important;
}

.separator {
  border-bottom: solid 1px #e3e6f0;
  width: 80%;
  margin: auto;
}

.unstyledList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navBarItemList {
  composes: flexRowWrap from '../../../sharedStyles/flexstyles.css';
  composes: unstyledList;
}

.navItem {
  position: relative;
  overflow: hidden;
}

.navLink, .subMenuNavLink {
  padding: 1.3em 1em;
  text-decoration: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #5a5757;
  display: block;
}

.subMenuNavLink {
  padding: .8em 1.5em;
}

.navLink:active, .navLink:focus, .navLink:visited {
  color: #5a5757;
}

.subMenuNavItemBase {
  position: absolute;
  z-index: 2;
  margin-top: 0px;
  background-color: white;
  min-width: 220px;
}


.subMenuNavItemList {
  composes: unstyledList;
  composes: subMenuNavItemBase;
  left: 0;
  top: 100%;
  border-top: 2px solid #e3e6f0;
}

.subMenuNavItemListLevel2 {
  composes: unstyledList;
  composes: subMenuNavItemBase;
  left: 100%;
  top: 0;
  border-left: 2px solid #e3e6f0;
}

.navItem:hover, .navItem:focus {
  overflow: visible;
}

.navItem:hover > .navLink, .navItem:focus > .navLink {
  color: lightgreen;
}

.arrow {
  font-size: 0.625rem;
  margin-left: 0.25rem;
}