.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}

.container > * {
  font-size: 18px;
}

.imageContainer {
  margin-right: 1.4em;
}

.imageContainer > img {
  border-radius: 10px;
}

.bioContainer {

}

.title {
  margin: 0px;
}
