.container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  padding-bottom: 18px; /* size of see more link */
  position: relative;
}

.name { }

.details {
  margin-top: 0px;
  text-align: center;
}

.displaynone {
  display: none;
}