/*#region Flex Row */
.flexRowWrap {
  display: flex;
  flex-flow: row wrap;
}

.flexRowNoWrap {
  display: flex;
  flex-flow: row nowrap;
}

.flexRowWrapCenter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flexRowNoWrapCenter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.flexRowWrapSpaceBetween {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexRowNoWrapSpaceBetween {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flexRowWrapSpaceBetweenCenter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.flexRowNoWrapSpaceBetweenCenter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

/*#endregion Felx Row */

/*#region Felx Column */

.flexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}

.flexColumnNoWrap {
  display: flex;
  flex-flow: column nowrap;
}

.flexColumnWrapCenter {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.flexColumnNoWrapCenter {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*#endregion Felx Column */
